In [2]:
import math
import pandas
from datetime import datetime
import png

In [3]:
infile = '../data/ice-dates.csv'

data = pandas.read_csv(infile, usecols = ["YEAR1","CLOSEDDATE","OPENEDDATE"], 
                      parse_dates = ["CLOSEDDATE","OPENEDDATE"])

In [4]:
marker_month = "11"
marker_day = "20"

for state in ["CLOSED","OPENED"]:
    data[state+'OFFSET'] = data.apply(lambda x: x[state+'DATE'] - datetime.strptime(str(x['YEAR1'])+"-"+marker_month+"-"+marker_day,'%Y-%m-%d'), axis = 1)
    data[state+'NORMOFFSET'] = data.apply(lambda x: math.floor(x[state+'OFFSET'].total_seconds() / (60 * 60 * 24) / 3), axis = 1)

In [5]:
#data.head(20)

In [6]:
start_yr = int(data['YEAR1'].min())
end_yr = int(data['YEAR1'].max())

In [24]:
height = end_yr - start_yr + 1

In [25]:
delta_min = data['CLOSEDNORMOFFSET'].min()
delta_max = data['OPENEDNORMOFFSET'].max()

In [26]:
width = delta_max - delta_min

In [27]:
print(width, height)

54 165

In [67]:
bg_color = (0, 0, 225)
ice_color = (250, 250, 250)
lt_blue = (209, 237, 242)

color_toggle = [bg_color, ice_color]

In [68]:
years = list(data['YEAR1'].unique())

In [78]:
len(years)

165

In [81]:
px = []
block_width = 3
block_height = 5
tmp_index = 5

stripe = []
for bwid in range(block_width*width):
    stripe.extend(lt_blue)

for year in years:
    change_points = []
    for i,row in data[data.YEAR1 == year].iterrows():
        for change_types in ['CLOSEDNORMOFFSET','OPENEDNORMOFFSET']:
            change_points.append(row[change_types])
    change_points.append(width+1)
    point_index = 0
    current_change_point = change_points[point_index]
    color_index = 0
    current_color = color_toggle[color_index]
    row = []
    for date in range(width):
        if date >= current_change_point:
            point_index = point_index + 1
            current_change_point = change_points[point_index]
            color_index = (color_index + 1) % 2
            current_color = color_toggle[color_index]
        for bw in range(block_width):
            row.extend(current_color)
    for bh in range(block_height):
        #print(row)
        px.append(row)
    for bh in range(block_height):
        #print(row)
        px.append(stripe)

In [82]:
import png
f = open('../exports/sample.png', 'wb')
w = png.Writer(width*block_width, height*block_height*2, greyscale = False)
w.write(f, px)
f.close()

In [64]:
stripe[:12]

[209, 237, 242, 209, 237, 242, 209, 237, 242, 209, 237, 242]

In [67]:
data.head()

,YEAR1,CLOSEDDATE,OPENEDDATE,CLOSEDOFFSET,CLOSEDNORMOFFSET,OPENEDOFFSET,OPENEDNORMOFFSET
0,1855,1855-12-18,1856-04-14,28 days,9,146 days,48
1,1856,1856-12-06,1857-05-06,16 days,5,167 days,55
2,1857,1857-11-25,1858-03-26,5 days,1,126 days,42
3,1858,1858-12-08,1859-03-14,18 days,6,114 days,38
4,1859,1859-12-07,1860-03-26,17 days,5,127 days,42